

.all-dashboard-container{
  position: absolute;
  
  /* background-color: red; */
  
  top: 100px;
  left: 300px;

  width: 80vw;
  height: 100vh;

  z-index: 100;
}


.current-section-title {
    font-size: 1.2rem;
    /* margin-bottom: 20px; */
}

.button-container {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.load-button {
    cursor: pointer;

    background-color: rgb(166, 142, 212);

    padding: 5px 10px;

    border: none;
    border-radius: 5px;
    
    opacity: 1; 
    transition: opacity 0.3s ease
}
.load-button:hover {
    opacity: 0.5; 
}


.delete-button {
  cursor: pointer;

  background-color:white;
  color:  rgb(169, 79, 79);

  border: 1px solid rgb(169, 79, 79);
  border-radius: 5px;
  
  padding: 5px 10px;
  
  opacity: 1; 
  transition: opacity 0.3s ease

}

.delete-button:hover {
    opacity: 0.5; 
}





.dashboard{
  height: 30vh;
}

.userInput{
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  margin: 5px 0;
  font-size: 1rem;
  padding: 5px;
}


.cdk-drag-placeholder {
  opacity: 0.5;
  background: #ccc;
  border: dotted 3px #999;
  min-height: 40px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}





.dashElement {
  position: absolute;
  border: 1px solid #ccc;
  padding: 5px;
  background: white;
  cursor: grab;

  min-width: 300px;

  resize: both;

}


.selectedElement {
  border: 2px solid #b678f0;
  box-shadow: 0 0 10px rgba(74, 144, 226, 0.5);
}

.drag-handle {
  cursor: grab;
  
  display: flex;
  justify-content: space-between;

  background-color: #f0f0f0;
  padding: 2px 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;

}

/* Class applied while dragging */
.cdk-drag-dragging {
  opacity: 0.7;
}


#hide{
  cursor: pointer;
  font-size: 0.8rem;
  background-color: rgb(128, 128, 128);
  color: rgb(255, 255, 255);

  margin-left: 10px;
}

.dash-user-ai-data {
  display: flex;
  
  /* width: 100%;
  height: 100px; */

  /* margin: 5px 0; */
  font-size: 1rem;
  /* padding: 5px; */

}

.user-panel {
  /* flex: 3; */
  /* border-right: 2px solid #ccc; */
  
  display: flex;
  flex-direction: column;

  padding-right: 10px;
}

.userInput {
  /* border: none; */
  min-width: 300px;
  /* box-sizing: border-box; */
}

.user-btns {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

#save{
  cursor: pointer;

  background-color: rgb(143, 118, 189);
  color: white;

  padding: 5px 10px;

  border: none;
  border-radius: 5px;
  
  transition: opacity 0.3s ease
}
#save:hover {
    opacity: 0.5; 
}


.ai-panel {
  display: flex;

  /* min-width: 300px; */

  font-size: 0.8rem;

  min-width: 250px;

  margin: 0 20px 0 10px;
  padding-left: 10px;
  border-left: 2px solid #ccc;

  /* flex: 1; */
}

.ai-btns{
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.ai-analysis-btns {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}
.toggle-analysis-btn {
  cursor: pointer;

  background-color: rgb(143, 118, 189);
  color: rgb(0, 0, 0);

  padding: 5px 10px;

  margin: 5px 0;

  border: none;
  border-radius: 5px;
  
  transition: opacity 0.3s ease
}
.toggle-analysis-btn:hover {
    opacity: 0.5; 
}
