<app-side-panel (onSelectSectionEvent)="handleSectionChange($event)"></app-side-panel> <!-- side panel -->

<app-chat (onSectionDirectionEvent)="handleSectionDirection($event)" (onMakeDashTextEvent)="handleMakeDashText($event)"></app-chat> <!-- chat panel -->


<div class="all-dashboard-container">
  
  <div class="current-section-title">
    <h1>{{ currentSection }}</h1>
  </div>

  <div class="button-container">
    <button class="load-button" (click)="loadDashboardItems()">
      Load Dash
    </button>

    <button class="delete-button" (click)="unlockDeleteDashElement()">
      Delete
    </button>
  </div>

  <div class="dashboard"
    [id]="dashboardContainerId"
    cdkDropList
    [cdkDropListData]="widgetItems"
    [cdkDropListConnectedTo]="[widgetContainerId]"
    (cdkDropListDropped)="drop($event)"
  >

    <h2>Dashboard Items</h2>
    @for (item of dashboardItems; track item._id) {
      <div class="dashboardWidgetItem" cdkDrag>
        <span> {{item.title}} </span>
      </div>
    }
  </div> 

    


  <!-- widget panel import -->
  <app-widget-panel></app-widget-panel> <!-- widget panel -->      


  @for (item of dashboardItems; track item._id) {   
  <div class="dashElement" #textbox_container cdkDrag>
    <div class="drag-handle" cdkDragHandle>

      @if(deleteMode) {
      <button id="delete" (click)="deleteDashElement(item._id)">
        Delete
      </button>
      }

      <span>{{item.title}}</span>

      <button id="hide" (click)="hideDashElement(item._id)">
        {{ item.visible ? 'Hide' : 'Show' }}
      </button>     
      
      

    </div>

    <div class="dash-user-ai-data">
      
      <!-- User Panel -->
      <div class="user-panel">
        @if(item.visible) {
        <textarea class="userInput" #myTextarea type="text" placeholder="Enter text">{{item.data}}</textarea>
        
        <div class="user-btns">
          <button id="save" (click)="saveElementData(item._id, myTextarea.value)">
            Save
          </button>

          <button class="hide-AI-btn" (click)="hideAIPanel()">
          {{ aiPanaelVisible ? 'Hide AI' : 'Show AI' }}
          </button>
        </div>
        }
      </div>

      <!-- AI Analysis Panel-->
      <div class="ai-panel">
        <button class="hide-analysis-btn" (click)="hideAnalysisContent()">
        {{ analysisContentVisible ? '<--' : 'Analysis' }}
        </button>
        
        @if(aiPanaelVisible) {
        <div class="ai-panel-content">
          <p>Content: </p>
          @if(analysisContentVisible) {
          <p>{{ aiPanelContent }}</p>
          }


        </div>
        
        <!-- <p>AI Analysis for {{item.title}}</p> -->
        <!-- <p>{{item.data}}</p> -->
          
        }
      </div>

    </div>

  </div>
  }

</div>




