<app-side-panel (onSelectSectionEvent)="handleSectionChange($event)"></app-side-panel> <!-- side panel -->

<app-chat (onSectionDirectionEvent)="handleSectionDirection($event)" (onMakeDashTextEvent)="handleMakeDashText($event)"></app-chat> <!-- chat panel -->

<div class="all-dashboard-container">
  
  <div class="current-section-title">
    <h1>{{ currentSection }}</h1>
  </div>

  <div class="button-container">
    <button class="load-button" (click)="loadDashboardItems()">
      Load Dash
    </button>

    <button class="delete-button" (click)="unlockDeleteDashElement()">
      Delete
    </button>
  </div>

  <div class="dashboard"
    [id]="dashboardContainerId"
    cdkDropList
    [cdkDropListData]="widgetItems"
    [cdkDropListConnectedTo]="[widgetContainerId]"
    (cdkDropListDropped)="drop($event)"
  >

    <h2>Dashboard Items</h2>
    @for (item of dashboardItems; track item._id) {
      <div class="dashboardWidgetItem" cdkDrag>
        <span> {{item.title}} </span>
      </div>
    }
  </div> 

  <!-- widget panel import -->
  <app-widget-panel></app-widget-panel> <!-- widget panel -->      

  @for (item of dashboardItems; track item._id) {   
  <div class="dashElement" #textbox_container cdkDrag [class.selectedElement]="item._id === selectedDashElementId" (click)="selectDashElement(item._id)">
    <div class="drag-handle" cdkDragHandle>

      @if(deleteMode) {
      <button id="delete" (click)="deleteDashElement(item._id)">
        Delete
      </button>
      }

      <span>{{item.title}}</span>

      <button id="hide" (click)="hideDashElement(item._id)">
        {{ item.visible ? 'Hide' : 'Show' }}
      </button>     
      
    </div>
    @if(item.visible) {
    <div class="dash-user-ai-data">
      
      <!-- User Panel -->
      <div class="user-panel">
        <textarea class="userInput" #myTextarea type="text" placeholder="Enter text">
          {{ userInput }}
        </textarea>
        
        <div class="user-btns">
          <button id="save" (click)="saveElementData(item._id, myTextarea.value)">
            Save
          </button>

          @if(item._id === selectedDashElementId){
            <button class="hide-AI-btn" (click)="toggleAIPanel()">
            {{ aiPanaelVisible ? 'Hide AI' : 'Show AI' }}
            </button>
          }

          <button class="commit-to-record-btn" (click)="comitToRecord(item._id)" [disabled]="!canComitToRecord">
          Commit to Record
          </button>
                    
          
        </div>
        
      </div>

      <!-- AI Analysis Panel-->
      <!-- if dash item is selected, show AI panel -->
      @if(item._id === selectedDashElementId){
        @if(aiPanaelVisible){
        <div class="ai-panel">
          <div class="ai-btns">
            @if(aiPanelContentVisible){
              <button class="toggle-analysis-btn" (click)="toggleAnalysisContent('')">
              &#8592; 
              </button>
            }
            @else{
              <button class="toggle-analysis-btn" (click)="toggleAnalysisContent('general_summary')">
              General Summary
              </button>
              <button class="toggle-analysis-btn" (click)="toggleAnalysisContent('connections')">
              Connections
              </button>
              <button class="toggle-analysis-btn" (click)="toggleAnalysisContent('lore_summary')">
              Lore Summary
              </button>
              <button class="toggle-analysis-btn" (click)="toggleAnalysisContent('gap_suggestions')">
              Gap Suggestions
              </button>
              <button class="toggle-analysis-btn" (click)="toggleAnalysisContent('new_idea_suggestions')">
              New Idea Suggestions
              </button>
              <button class="toggle-analysis-btn" (click)="toggleAnalysisContent('user_question_responses')">
              User Question Responses
              </button>
            }
          </div>

          @if(aiPanelContentVisible){
          <div class="ai-panel-content">
            <p>{{ aiPanelSection }}: </p>
            <p>
              {{ aiPanelContent }}
            </p>          

            <div class="ai-analysis-btns">
              @if(newAnalysisGenerated) {
              <button class="prev-analysis-btn" (click)="prevAnalysis()">
                Previous
              </button>
            
              <button class="accept-analysis-btn" (click)="acceptNewAnalysis(item._id)">
                Accept New
              </button>
              }
              @else{
              <button class="new-analysis-btn" (click)="generateNewAnalysis('summary')">
                Generate New
              </button>
              }
            </div>

          </div>
          }
        </div>
        }
      }

    </div>
    }

  </div>
  }

</div>




