* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;


}

body {
    font-family: Arial, sans-serif;
}


/* Chat Container */
.chat-container {
    background-color: #343a40;

    position: fixed;   /* Fixes the element to the viewport */
    bottom: 20px;         /* Aligns the bottom edge with the viewport's bottom */
    right: 35%;         /* Starts halfway from the left */
    transform: translateX(50%); /* Moves the element back 50% of its OWN width */

    max-width: 600px;

    padding: 10px;

    border: 1px solid #ccc;
    border-radius: 10px;

    display: flex;
    flex-direction: column; /* Stacks items vertically */
    justify-content: flex-end; /* Aligns items to the bottom */
    align-items: center;

    font-size: 1.2rem;
    
    z-index: 600;

    transition: all 0.3s ease-in-out;
}


.hidden-chat {
    right: 10%;
    transform: translateX(50%); /* Moves the element back 50% of its OWN width */
}

.scroll-container {
    overflow-y: scroll;
    max-height: 200px; /* Adjust based on your design */
    margin-bottom: 10px;

    resize: vertical;
}
.hidden-scroll {
    max-height: 0px;
    overflow: hidden;
}

.ai-message {
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    /* max-width: 80%; */
}

.user-message {
    background-color: #7d5ed493;

    color: #b4b1b1;

    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    max-width: 80%;
}

.hide-messages-button {
    cursor: pointer;

    background-color: darkslateblue;

    color: white;

    padding: 5px 10px;
    margin: 0 0 10px 10px;

    border: none;
    border-radius: 5px;
    

    opacity: 1; 
    transition: opacity 0.3s ease

}
.hide-messages-button:hover {
    opacity: 0.5; 
}


.hint-message {
    background-color: #7e7e7e;

    font-size: 0.6rem;
    font-style: italic;
    color: #ffffff;

    padding: 5px;
    
    /* border-radius: 5px; */

    margin-bottom: 10px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#section-select {
  cursor: pointer;

  background-color: #f4f4f4;
  color: #333;
  
  font-size: 0.8rem;
  
  border: 1px solid #000000;
  border-radius: 5px;

  padding: 5px 5px;

  margin-right: 10px;


  /* Add custom arrow with background-image (SVG is recommended) */
}

/* Styling options remains limited to color/background-color */
.section-select option {
  background-color: #adadad86;
  color: #000000;
}


#userInput {
    width: 80%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}


.note-pad-textarea {
    
    width: 300px;
    height: 300px;
    
    padding: 10px;

    border-radius: 5px;
    border: 1px solid #ccc;
    
    font-size: 12px;

    resize: vertical; /* Allows vertical resizing only */
}


.sendButton {
    cursor: pointer;
    
    background-color: darkslateblue;
    
    color: white;
    
    padding: 5px 10px;
    margin-left: 10px;

    border: none;
    border-radius: 5px;
    

    opacity: 1; 
    transition: opacity 0.2s ease

}

.sendButton:hover {
    opacity: 0.5; 
}

.loading-btn {
    cursor: not-allowed;
    background-color: grey;
}

.update-button {
    cursor: pointer;

    background-color: rgb(166, 142, 212);

    width: 100px;

    margin-top: 10px;


    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    
    opacity: 1; 
    transition: opacity 0.2s ease
}

.update-button:hover {
    opacity: 0.5; 
}


.make-dash-text-btn {
    cursor: pointer;

    background-color: rgb(166, 142, 212);

    margin-left: 120px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    opacity: 1;
    transition: opacity 0.3s ease

}


.disabled-btn {
    cursor: not-allowed;

    background-color: grey;

    opacity: 0.6;
}


/* 
.note-pad-button {
    cursor: pointer;

    background-color: rgb(166, 142, 212);

    padding: 5px 10px;

    margin: 0 10px 10px 10px;

    border: none;
    border-radius: 5px;
    
    opacity: 1; 
    transition: opacity 0.3s ease
}

.note-pad-button:hover {
    opacity: 0.5; 
}
 */

.hide-button {
    cursor: pointer;

    align-self: flex-end;

    background-color: rgb(166, 142, 212);

    padding: 5px 10px;

    border: none;
    border-radius: 5px;
    
    opacity: 1; 
    transition: opacity 0.3s ease
}

.hide-button:hover {
    opacity: 0.5; 
}
