

/* Side Panel */
.side-panel {
    position: fixed;
    top: 60px; /* nav bar height */
    left: 0;
    height: 100vh;
    width: 250px;
    background-color: #343a40;
    border-right: 1px solid #ccc;
    transition: all 0.3s ease-in-out;

    /* Add a smooth transition for the transform property */
    transition: transform 0.3s ease-in-out; 
    /* Ensure hardware acceleration is used for performance (optional but recommended) */
    transform: translateX(0); 

    z-index: 800;
}


/* Class applied when the button is pressed (isPanelTranslated is true) */
.hidden-panel {
    /* Move the panel to the left by its full width (or any desired value) */
    transform: translateX(-100%); 
}



.side-nav {   
    padding: 20px;
}

.side-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.side-title {
    margin-bottom: 30px;
    margin-top: 15px;

    font-size: 2rem;
    color: white;
}


.hide-btn {
    cursor: pointer;
    
    background-color: rgb(166, 142, 212);
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;


    opacity: 1; 
    transition: all 0.3s ease-in-out;
}

.hide-btn:hover {
    opacity: 0.5; 
}

.hidden-btn {
  transform: translateX(150%); 
  background-color: rgb(92, 53, 170);

}




.sub-header {
    margin-bottom: 15px;
    margin-top: 15px;

    font-size: 1.3rem;
    color: white;
}

.side-options {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

#newProject, #search {
    background-color : rgb(44, 28, 59) ;
    font-size: 1rem;
    margin-bottom: 10px;
    padding: 8px;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.336);
    color: rgba(124, 124, 124, 0.993);

    transition: all 0.2s ease-in-out;

}

#newProject:hover {
    background-color: rgb(92, 53, 170);
    color: white;
}

#search:hover {
    background-color: rgb(92, 53, 170);
    color: white;
}




.scope-options {
    margin-bottom: 80px;
}

.scope-buttons{
    display: flex;
    justify-content: space-around;
}


.scope-btn{
    background-color: rgba(118, 84, 184, 0.322);
    
    margin-top: 20px;
    
    height: 50px;
    width: 80px;
    border-radius: 10px;

    transition: all 0.2s ease-in-out;

    font-size: 1rem;
}
.scope-btn:hover {
    background-color: rgb(92, 53, 170);
    color: rgb(255, 255, 255);
    cursor: pointer;
}




.scope-scroll-container{
    overflow-y: scroll;
    max-height: 600px;
}

.list {
 position: relative;
 margin-bottom: 150px;
 
}


.list-content {
    font-size: 1rem;
    
    border-radius: 10px;
    /* box-shadow: 1px 3px 10px white; */
    margin-top: 15px;
    padding: 12px;

    transition: all 0.25s ease-in-out;

}

.list-content:hover {
    background-color:  rgb(44, 13, 80); /* New background color on hover */
    color: white;               /* New text color on hover */
    cursor: pointer;            /* Changes the cursor to a hand icon */
    padding: 8px;
}

.list .projects {
    position: absolute;
    bottom: 30px;
}



